src/node_modules
src/package-lock.json
vagrant/virtio/.vagrant
src/config.yml
src/data/
vagrant/hyperv/.vagrant/
build/.stage

src/static/css/bootstrip-theme-darkmoon.css
src/static/css/bootstrip-theme-default.css
src/static/css/bootstrip.css
src/static/js/bootstrip.js
deviceStubs/shellys/node_modules
deviceStubs/shellys/package-lock.json
