{{#extend "layout"}}
    {{#content "body"}}

        Dashboard        
        {{#if device}}

            {{#if available}}

                {{#if poweredOn}}
                    
                    <button data-raction="stop">
                        Shutdown
                    </button>
                    <button data-raction="restart">
                        Reboot
                    </button>
                    <div data-ractionFeedback>

                    </div>
                {{else}}
                    <button data-raction="start">
                        Power on
                    </button>
                {{/if}}
            {{else}}
                Not reachable
            {{/if}}
        {{else}}
            No device found
        {{/if}}
    {{/content}}

{{/extend}}