{{#extend "layout"}}
    {{#content "body"}}

        <h2>Login</h2>
        
        <form action="session" method="post">
            <input placeholder="user" name="user" type="text"> 
            <input placeholder="password" name="password" type="password"> 
            <button class="button" type="submit">Login</button>
        </form>

        {{error}}
        
    {{/content}}

{{/extend}}